*{
    padding:0;
    margin:0;
}

html{
    box-sizing: border-box;
}

@font-face {
    font-family: Roboto;
    src: url(/content/Roboto/Roboto.ttf);
}

@font-face {
    font-family: Lato;
    src: url(/content/ofont.ru_Lato.ttf);
}

body{
    font-family: "Megrim", sans-serif;
    margin:0 auto;
    height:100%;
    display: flex;
    flex-direction: column;
    background-color: rgba(24, 24, 24, 1);
    }

    .main_page{
        width: 1000px;
        height: 639px;
    }

    .nav{
        width:700px;
        height:40px;
        background: #0D0D0D;
        box-shadow: 0px 5px 22px 0px #00000040;
        position: absolute;
        left:300px;
    }

    .sidebar{
        width:300px;
        height:639px;
        background: #202020;
        box-shadow: 5px 0px 15px 0px #0505051A;
        background-image: url(/content/7112a7f6eccd4d00c37ac86c939a696e.jpeg);
        background-size: 300px 180px;
        background-repeat: no-repeat;
        background-position: top;
    }

    .nav_menu{
        display: inline-flex;
        list-style-type: none;
        gap:23px;
        position: relative;
        left:15px;
        top:10px;
    }

    .nav_menu li{
        font-family: Roboto,sans-serif;
        font-size: 11px;
        font-weight: 400;
        line-height: 13px;
        letter-spacing: 0em;
        text-align: left;
        color: #FFFFFF;
    }

    .Rolan{
        display: inline-block;
        width: 300px;
        height: 22px;;
        font-family: Roboto,sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0em;
    text-align: center;
    color: rgba(255, 255, 255, 1);
    position: relative;
    top:140px;
    }
    
    .front-dev{
        display: inline-block;
        font-family: Roboto,sans-serif;
        width: 145px;
        height: 16px;
    font-size: 14px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0em;
    text-align: center;
    position: relative;
    top:134px;
    left:78px;
    color: rgba(222, 222, 222, 1);
    }
    
    .icons_svg{
        display: inline-flex;
        list-style-type: none;
        gap:15px;
        position: relative;
        top:190px;
        left:-35px;
    }
    
    .side_but{
        display: flex;
        gap:20px;
        position: relative;
        top:300px;
        left:25px;
        list-style-type: none;
    }
    .profile{
        display: inline-flex;
        flex-direction: column;
        gap:25px;
        border: none;
        position: absolute;
        top:181px;
        left:350px;
    }
    .profile input{
        width: 340px;
        height: 25px;
        border-radius: 1px;
        background-color: rgba(24, 24, 24, 1);
        border: 1px solid #3F3F3F
    }

    .profile input::placeholder{
        font-family: Roboto,sans-serif;
        font-size: 14px;
        font-weight: 400;
        line-height: 16px;
        letter-spacing: 0em;
        text-align: left;
    }

    .profile input:valid ~ .underline {
        display: block;
      }
      
      .underline {
        position: relative;
        margin-top: 1.5rem;
        display: none;
        
      }
      
      .underline::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0;
        width: 100%;
        height: 2px;
        background: black;
      } 


.profile input {
    border: none;
    border-bottom: 1px solid #3F3F3F;;
  }

  .profile input:focus{
    border: none;
    outline: none;
    border-bottom: 1px solid #107EFF;
  }
  
  .color-text{
    font-family: Roboto,sans-serif;
font-size: 14px;
font-weight: 400;
line-height: 16px;
letter-spacing: 0em;
text-align: left;
color: #FFFFFF;

  }

  .image_add{
    width: 150px;
    height: 150px;
    background: #C4C4C4;
    box-shadow: 0px 5px 15px 0px #00000040;
    background-image:url(content/cef7f154fe7fd40a43a5fdf65a923c23.jpeg) ;
    background-position: center;
    background-size: cover;
  }

  .avatar{
    position: relative;
    left:460px;
    top:-200px;
  }
 
